/*------------------------------ Import Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

/*------------------------------ General*/

.sub-heading {
    color: #fafafa;
    font-family: "Lato", sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

/*------------------------------ Colors*/

.ui-bg-color {
    background-color: #070f16;
}

/*------------------------------ Navigation*/
.navbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.logo {
    margin: 0;
    background: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3.5rem;
    width: 3.5rem;
}

.navbar ul li a {
    color: #fafafa;
    font-family: "Oswald", sans-serif;
}

/*------------------------------ Footer*/

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    padding: 1.5rem;
}

.social-links {
    padding-top: .5rem;
    padding-right: .5rem;
    text-align: right;   
}

@media screen and (max-width: 767px) {
    .footer-content {
        margin: 0;
        padding: 0;
    }
    .social-links {
        margin: .5rem 0;
        padding: 0;
        text-align: center;
    }
    .copyright-disclaimer {
        margin: 1rem 0 0 0;
        padding: 0;
        text-align: center;
    }
}

.social-links li a {
    color: #fafafa;
}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #8f8f8f;
    text-align: center;
    padding: .5rem 0;
}

/*------------------------------ Index Section*/