/*------------------------------ Import Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

/*------------------------------ General*/

.sub-heading {
    color: #fafafa;
    font-family: "Lato", sans-serif;
}

/*------------------------------ Colors*/

.ui-bg-color {
    background-color: #070f16;
}

/*------------------------------ Navigation*/
.navbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.logo {
    color: #fafafa;
    font-family: "Oswald", sans-serif;
}

.navbar ul li a {
    color: #fafafa;
    font-family: "Oswald", sans-serif;
}

/*------------------------------ Footer*/

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-links {
    padding-top: .5rem;
    padding-right: 2rem;
    text-align: right;   
}

.social-links li a {
    color: #fafafa;
}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #8f8f8f;
    text-align: center;
    padding: .5rem 0;
}